[name='enter']{
    padding: 10px 20px; /* Установите отступы вокруг текста кнопки */
    font-size: 16px; /* Установите размер шрифта */
    border: none; /* Уберите границы кнопки */
    background-color: #007bff; /* Установите цвет фона кнопки */
    color:#000; /* Установите цвет текста кнопки */
    cursor: pointer; /* Измените курсор при наведении на кнопку */
    border-radius: 5px; /* Установите скругление углов кнопки */
}